## Assignment: Basic For Loops II

### Task 1
#### Biggie Size - Given a list, write a function that changes all positive numbers in the list to "big". Example: biggie_size([-1, 3, 5, -5]) returns that same list, but whose values are now [-1, "big", "big", -5]

In [1]:
def biggie_size(a):
 for x in range(len(a)):
   if a[x] > 0:
     a[x]="big"
   else:
     continue
 return a

biggie_size([-1, 3, 5, -5])

[-1, 'big', 'big', -5]

### Task 2
#### Count Positives - Given a list of numbers, create a function to replace the last value with the number of positive values. (Note that zero is not considered to be a positive number). Example: count_positives([-1,1,1,1]) changes the original list to [-1,1,1,3] and returns it Example: count_positives([1,6,-4,-2,-7,-2]) changes the list to [1,6,-4,-2,-7,2] and returns it

In [2]:
def count_positives(a):
 positive_counter = 0
 for x in a:
   if x > 0:
     positive_counter+=1
   else:
     continue
 a[len(a)-1]=positive_counter
 return a

count_positives([-1,1,1,1])
#count_positives([1,6,-4,-2,-7,-2])

[-1, 1, 1, 3]

### Task 3
#### Sum Total - Create a function that takes a list and returns the sum of all the values in the array. Example: sum_total([1,2,3,4]) should return 10 Example: sum_total([6,3,-2]) should return 7

In [3]:
def sum_total(a):
 sum = 0
 for x in a:
   sum+=x
 return sum

sum_total([1,2,3,4])
#sum_total([6,3,-2])

10

### Task 4
#### Average - Create a function that takes a list and returns the average of all the values. Example: average([1,2,3,4]) should return 2.5

In [4]:
def average(a):
 sum = 0
 for x in a:
   sum+=x
 return sum/len(a)

average([1,2,3,4])

2.5

### Task 5
#### Length - Create a function that takes a list and returns the length of the list. Example: length([37,2,1,-9]) should return 4. Example: length([]) should return 0

In [5]:
def length(a):
  return len(a)

length([37,2,1,-9])
#length([])

4

### Task 6
#### Minimum - Create a function that takes a list of numbers and returns the minimum value in the list. (Optional) If the list is empty, have the function return False. Example: minimum([37,2,1,-9]) should return -9.
#### (Optional) Example: minimum([]) should return False

In [6]:
def minimum(a):
  if len(a) == 0:
    return False
  else:
    min= a[0]
    for x in a:
      if x<min:
        min =x
      else:
        continue
  return min

minimum([37,2,1,-9])
#minimum([])

-9

### Task 7
#### Maximum - Create a function that takes a list and returns the maximum value in the array. (Optional) If the list is empty, have the function return False. Example: maximum([37,2,1,-9]) should return 37
#### (Optional) Example: maximum([]) should return False

In [7]:
def maximum(a):
  if len(a) == 0:
    return False
  else:
    max= a[0]
    for x in a:
      if x>max:
        max =x
      else:
        continue
  return max

maximum([37,2,1,-9]) 
#maximum([])

37

### Task 8 (Optional)
#### Ultimate Analysis  - Create a function that takes a list and returns a dictionary that has the sumTotal, average, minimum, maximum and length of the list. Example: ultimate_analysis([37,2,1,-9]) should return {'sumTotal': 31, 'average': 7.75, 'minimum': -9, 'maximum': 37, 'length': 4 }

In [8]:
def ultimate_analysis(a):
  ulitimate_analysis = {
      "sumTotal": sum_total(a),
      "average": average(a),
      "minimum": minimum(a), 
      "maximum": maximum(a), 
      "length": length(a)}
  return ulitimate_analysis

ultimate_analysis([37,2,1,-9])

{'average': 7.75, 'length': 4, 'maximum': 37, 'minimum': -9, 'sumTotal': 31}

### Task 9 (Optional)
#### Reverse List - Create a function that takes a list and return that list with values reversed. Do this without creating a second list. (This challenge is known to appear during basic technical interviews.) Example: reverse_list([37,2,1,-9]) should return [-9,1,2,37]

In [9]:
def reverse_list(a):
  last = len(a)-1
  size = len(a)//2
  for x in range(size):
    temp = a[last]
    a[last] = a[x]
    a[x] = temp 
    last -=1
  return a


reverse_list([37,2,1,-9])

[-9, 1, 2, 37]