## OPTIONAL Assignment: Intermediate Functions II

### Task 1: Update Values in Dictionaries and Lists
1. Change the value 10 in x to 15. Once you're done, x should now be [ [5,2,3], [15,8,9] ].
2. Change the last_name of the first student from 'Jordan' to 'Bryant'
3. In the sports_directory, change 'Messi' to 'Andres'
4. Change the value 20 in z to 30

In [3]:
x = [ [5,2,3], [10,8,9] ] 
students = [
     {'first_name':  'Michael', 'last_name' : 'Jordan'},
     {'first_name' : 'John', 'last_name' : 'Rosales'}
]
sports_directory = {
    'basketball' : ['Kobe', 'Jordan', 'James', 'Curry'],
    'soccer' : ['Messi', 'Ronaldo', 'Rooney']
}
z = [ {'x': 10, 'y': 20} ]

In [14]:
## Solution ##
## 1. Change the value 10 in x to 15. Once you're done, x should now be [ [5,2,3], [15,8,9] ].
x[1][0] = 15
x

[{'x': 10, 'y': 30}]

In [ ]:
## 2. Change the last_name of the first student from 'Jordan' to 'Bryant'
students[0]['last_name']= 'Bryant'
students

In [ ]:
## 3. In the sports_directory, change 'Messi' to 'Andres'
sports_directory['soccer'][0]= 'Andres'
sports_directory

In [ ]:
## 4. Change the value 20 in z to 30
z[0]['y']=30
z

### Task 2: Iterate Through a List of Dictionaries
Create a function iterateDictionary(some_list) that, given a list of dictionaries, the function loops through each dictionary in the list and prints each key and the associated value. For example, given the following list:

##### should output: (it's okay if each key-value pair ends up on 2 separate lines; bonus to get them to appear exactly as below!)
#####first_name - Michael, last_name - Jordan
#####first_name - John, last_name - Rosales
#####first_name - Mark, last_name - Guillen
#####first_name - KB, last_name - Tonel

In [15]:
students = [
         {'first_name':  'Michael', 'last_name' : 'Jordan'},
         {'first_name' : 'John', 'last_name' : 'Rosales'},
         {'first_name' : 'Mark', 'last_name' : 'Guillen'},
         {'first_name' : 'KB', 'last_name' : 'Tonel'}
    ]

In [34]:
## Solution ##
def iterateDictionary(list_of_dict):
  for x in list_of_dict:
    for k,v in x.items():
      print(f"{k} - {v}")
    print("\r")

iterateDictionary(students)

first_name - Michael
last_name - Jordan

first_name - John
last_name - Rosales

first_name - Mark
last_name - Guillen

first_name - KB
last_name - Tonel

### Task 3: Get Values From a List of Dictionaries
Create a function iterateDictionary2(key_name, some_list) that, given a list of dictionaries and a key name, the function prints the value stored in that key for each dictionary. For example, iterateDictionary2('first_name', students) should output:

In [36]:
## Solution ##
def iterateDictionary2(key_name, some_list):
  for x in some_list:
    for k,v in x.items():
      if k == key_name:
        print(v)

iterateDictionary2('first_name', students) 
print("\r")
iterateDictionary2('last_name', students)

Michael
John
Mark
KB

Jordan
Rosales
Guillen
Tonel

### Task 4: Iterate Through a Dictionary with List Values
Create a function printInfo(some_dict) that given a dictionary whose values are all lists, prints the name of each key along with the size of its list, and then prints the associated values within each key's list. For example:

In [40]:
dojo = {
   'locations': ['San Jose', 'Seattle', 'Dallas', 'Chicago', 'Tulsa', 'DC', 'Burbank'],
   'instructors': ['Michael', 'Amy', 'Eduardo', 'Josh', 'Graham', 'Patrick', 'Minh', 'Devon']
}

In [42]:
## Solution ##
def printInfo(dojo):
  for k, v in dojo.items():
    print(k)
    for x in v:
     print(x)
    print("\r")

printInfo(dojo)

locations
San Jose
Seattle
Dallas
Chicago
Tulsa
DC
Burbank

instructors
Michael
Amy
Eduardo
Josh
Graham
Patrick
Minh
Devon